@font-face {
  font-family: "Overpass Mono Regular";
  src: local("Overpass Mono Regular"),
    url("./assets/fonts/overpass-mono-regular.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass Mono Regular", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #c5e4e7;
  padding-top: 50px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container__img {
  display: block;
  margin: 0 auto;
  max-width: 70px;
}

.card {
  width: auto;
  max-width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 15px;
  box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px,
    rgb(0 0 0 / 30%) 0px 3px 7px -3px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 15px;
}

.card__details {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.card__details-bill {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 5px;
}

.card__details-amount {
  display: flex;
  flex-direction: column;
}

input {
  padding: 8px;
}

.card input {
  text-align: right;
  height: 28px;
  border-radius: 5px;
  background-color: #f5f5f5;
  border: none;
}
/* .card__details-calculate-tip {
  margin-left: 15px;
} */

.card__details-select-tip {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card__details-buttons button,
.card__details-buttons input {
  width: 60px;
  /* flex-basis: 33.33%; */
  margin: 3px 3px;
  max-width: 100%;
  padding: 3px;
  font-size: 12px;
}

.card__details-buttons button {
  background-color: #00474b;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.card__details-buttons button:hover {
  color: #00474b;
  background-color: #9fe8df;
}

.active-tip {
  color: #00474b;
  background-color: #9fe8df !important;
}

.icon-1 {
  background: url("./assets/images/icon-dollar-1.svg") no-repeat;
  background-size: 6px;
  background-position: 6px 9px;
}

.icon-2 {
  background: url("./assets/images/icon-person.svg") no-repeat;
  background-size: 7px;
  background-position: 6px 9px;
}

.card__details-smalltext {
  font-size: 11px;
  margin: 5px 0;
  font-weight: 700;
  color: #00474b;
  margin-top: 20px;
  margin-bottom: 5px;
}

.card input:focus {
  outline-color: #c5e4e7;
}

.card_details-calculate-tip-card {
  width: 100%;
  min-height: 250px;
  height: auto;
  background-color: #00474b;
  border-radius: 8px;
  padding: 1.2rem;
  position: relative;
}

.card__details-calculate-tip-content-title span {
  color: #3f8187;
}

.card_details-calculate-tip-content-row-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_details-calculate-tip-content-row-2 {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
}

.card__details-calculate-tip-content-title {
  font-size: 10px;
  color: #fff;
}

.card__details-calculate-tip-content-amount {
  color: #28c6ad;
  font-size: 14px;
}

.card__details-calculate-tip-content-amount img {
  width: 12px;
}

.card__details-calculate-tip-button button {
  padding: 5px;
  border-radius: 4px;
  border: none;
  background-color: #28c6ad;
  cursor: pointer;
  font-weight: 700;
  color: #00474b;
  position: absolute;
  left: 1.2rem;
  right: 1.2rem;
  bottom: 1.2rem;
}


 /* phone */
@media (max-width: 640px) {
  .card__details-buttons {
    gap: 0.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .card {
    max-width: 100%;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .card__details {
    gap: 1.5rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .card__details-buttons button {
    width: 100%;
  }

  .card__details-buttons input {
    width: 100%;
  }

}

 